// changes variable

$maineColor: #dcbb9a;
$headingImgBorder: #893c00;
$tableColor: #ffffff;
$tableFrame: #e0e0e0;
$contentColor: #ffffff;
$briefColor: #fadcba;

$marginConst: 20px;
$briefRgt: 20px;
$briefB: 0;
$briefPos: left;
$textTrans: none;
$custWidth: 50%;
$pColor: black;
$linkColor: #4072a2;
$infoBorderColor:#e4e4e4;
$formTitles: #8a8a8a;

// buttons
$btnBackgroundColor: rgb(255, 254, 254);

//form section
$infotxtColor: #808080;
