// changes variable

$maineColor: #e0f6fd;
$headingImgBorder: #fccd10;
$tableColor: #677d01;
$tableFrame: #94a34e;
$contentColor: #3b3b3b;
$briefColor: #fff178;

$marginConst: 20px;
$briefRgt: 0;
$briefB: 40px;
$briefPos: none;
$textTrans: uppercase;
$custWidth: initial;
$pColor: white;
$linkColor: #fccd10;
$infoBorderColor:#89964c;
$formTitles: #fccd10;

// buttons
$btnBackgroundColor: rgb(255, 254, 254);


//form section
$infotxtColor: #808080;